<!-- <p>forex-provider-list works!</p> -->

<div class="card bg-light mb-3">
    <div class="card-header">Provider Number 1</div>
    <div class="card-body">
        <div class="row">
            <div class="col col-lg-3">

            <img src="../../../assets/fxprovider.jpg" alt="">

            </div>
            <div class="col col-lg-9">
               <div class="row">
                   <h3>IC Markets Forex Provider</h3>
               </div> 
               <div class="row">
                   <div class="col col-lg-2">
                       <div class="row">
                           <div class="text-muted">Buy Rate</div>

                       </div>
                       <div class="row">
                           <div class="h5">74.5</div>
                       </div>

                   </div>
                <div class="col col-lg-2">
                    <div class="row">
                        <div class="text-muted">Avg Buy Rate</div>

                    </div>
                    <div class="row">
                        <div class="h5">73.2</div>
                        
                    </div>
                    
                </div>
                <div class="col col-lg-2">
                    <div class="row">
                        <div class="text-muted">Sell Rate</div>

                    </div>
                    <div class="row">
                        <div class="h5">71</div>
                        
                    </div>
                    
                    
                </div>
                <div class="col col-lg-2">
                    <div class="row">
                        <div class="text-muted">Avg Sell Rate</div>

                    </div>
                    <div class="row">
                        <div class="h5">70.52</div>
                        
                    </div>
                    
                    
                </div>
                <div class="col col-lg-2">
                    <div class="row">
                        <div class="text-muted">% change Buy</div>

                    </div>
                    <div class="row">
                        <div class="h5 text-success">+1.2%</div>
                        
                    </div>
                    
                    
                </div>
                <div class="col col-lg-2">
                    <div class="row">
                        <div class="text-muted">% change Sell</div>

                    </div>
                    <div class="row">
                        <div class="h5 text-danger">-0.2%</div>
                        
                    </div>
                    
                    
                </div>
               </div>
               <div class="row">
                <div class="col col-lg-1">

                </div>
                <div class="col col-lg-6">
                    <div class="row">
                        <div class="text-muted">Total Amount</div>

                    </div>
                    <div class="row">
                        <div class="h5 text-info">50000</div>
                        
                    </div>
                    
                    
                </div>
                <div class="col col-lg-4">
                    <div class="row">

                    </div>
                    <div class="row mt-3">
                        <br>
                        <a href="#" class="btn btn-primary">Add Product</a>

                    </div>
                    
                    
                    
                </div>
               </div>

            </div>
        </div>
        <!-- <text-muted class="card-title">Info card title</text-muted>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      </div>
  </div>

  
<div class="card bg-light mb-3">
    <div class="card-header">Provider Number 2</div>
    <div class="card-body">
        <div class="row">
            <div class="col col-lg-3">

            <img src="../../../assets/FX1.jpg" alt="">

            </div>
            <div class="col col-lg-9">
               <div class="row">
                   <h3>Alfa Trader Forex Provider</h3>
               </div> 
               <div class="row">
                   <div class="col col-lg-2">
                       <div class="row">
                           <div class="text-muted">Buy Rate</div>

                       </div>
                       <div class="row">
                           <div class="h5">74.5</div>
                       </div>

                   </div>
                <div class="col col-lg-2">
                    <div class="row">
                        <div class="text-muted">Avg Buy Rate</div>

                    </div>
                    <div class="row">
                        <div class="h5">73.2</div>
                        
                    </div>
                    
                </div>
                <div class="col col-lg-2">
                    <div class="row">
                        <div class="text-muted">Sell Rate</div>

                    </div>
                    <div class="row">
                        <div class="h5">71</div>
                        
                    </div>
                    
                    
                </div>
                <div class="col col-lg-2">
                    <div class="row">
                        <div class="text-muted">Avg Sell Rate</div>

                    </div>
                    <div class="row">
                        <div class="h5">70.52</div>
                        
                    </div>
                    
                    
                </div>
                <div class="col col-lg-2">
                    <div class="row">
                        <div class="text-muted">% change Buy</div>

                    </div>
                    <div class="row">
                        <div class="h5 text-success">+1.2%</div>
                        
                    </div>
                    
                    
                </div>
                <div class="col col-lg-2">
                    <div class="row">
                        <div class="text-muted">% change Sell</div>

                    </div>
                    <div class="row">
                        <div class="h5 text-danger">-0.2%</div>
                        
                    </div>
                    
                    
                </div>
               </div>
               <div class="row">
                <div class="col col-lg-1">

                </div>
                <div class="col col-lg-6">
                    <div class="row">
                        <div class="text-muted">Total Amount</div>

                    </div>
                    <div class="row">
                        <div class="h5 text-info">50000</div>
                        
                    </div>
                    
                    
                </div>
                <div class="col col-lg-4">
                    <div class="row">

                    </div>
                    <div class="row mt-3">
                        <br>
                        <a href="#" class="btn btn-primary">Add Product</a>

                    </div>
                    
                    
                    
                </div>
               </div>

            </div>
        </div>
        <!-- <text-muted class="card-title">Info card title</text-muted>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      </div>
  </div>

