<div class="container">
    <form>
        <div class="form-group p-3"  style="font-size: large;">
            <label>Username</label>     <br>
            <input type="text" class="form-control">
        </div>
        <br><br>
        <div class="form-group p-3" style="font-size: large;">
            <label>Password</label>     <br>
            <input type="text" class="form-control">
        </div>
        <br><br>

        <button (click)="onclick()" class="btn btn-primary m-3" type="submit" style="font-size: large;">Submit</button>
    </form>
</div>
