<div class="container">
    <form>
        <br><br>
        <div class="form-group p-3"  style="font-size: medium;">
            <label>Username:</label>     <br>
            <input type="userName" class="form-control">
        </div>
        
        <div class="form-group p-3" style="font-size: medium;">
            <label>Password:</label>     <br>
            <input type="passWord" class="form-control">
        </div>
        

        <button (click)="onclick()" class="btn btn-primary m-3" type="submit" style="font-size: medium;">Submit</button>
    </form>
</div>
