<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-6 buy">
      <p id="buyRate">Current Buy Rate :<span class="buySpan">74.50 USD</span></p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <p id="sellRate">Current Sell Rate :<span class="sellSpan">74.40 USD</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
      <h2 class="fx-provider-heading"><span class="fx-dashboard-heading">Forex </span>Provider Dashboard</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="sidenav">
        <a href="#about">Edit Your Profile</a>
        <a href="#services">My Ratings</a>
        <a href="#clients">My Transactions</a>
      </div>
    </div>
    <div class="col-lg-12 col-md-12"></div>
    <div class="main">
      <h2>Auto Sidebar</h2>
      <p>
        This sidebar is as tall as its content (the links), and is always shown.
      </p>
      <p>Scroll down the page to see the result.</p>
      <p>
        Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
        definitiones no quo, maluisset concludaturque et eum, altera fabulas ut
        quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert
        laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no
        molestiae voluptatibus.
      </p>
      <p>
        Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
        definitiones no quo, maluisset concludaturque et eum, altera fabulas ut
        quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert
        laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no
        molestiae voluptatibus.
      </p>
      <p>
        Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
        definitiones no quo, maluisset concludaturque et eum, altera fabulas ut
        quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert
        laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no
        molestiae voluptatibus.
      </p>
      <p>
        Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum
        definitiones no quo, maluisset concludaturque et eum, altera fabulas ut
        quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert
        laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no
        molestiae voluptatibus.
      </p>
    </div>
  </div>
</div>
