<div class="container">
    <form>
        <br><br>
        <div class="form-group p-3" style="font-size: medium;">
            <label>Name:</label>     <br>
            <input type="name" class="form-control">
        </div>
        
        <div class="form-group p-3" style="font-size: medium;">
            <label>Email:</label>     <br>
            <input type="email" class="form-control">
        </div>
        
        <div class="form-group p-3" style="font-size: medium;">
            <label>Username:</label>     <br>
            <input type="userName" class="form-control">
        </div>
        
        <div class="form-group p-3" style="font-size: medium;">
            <label>Password:</label>     <br>
            <input type="passWord" class="form-control">
        </div>

        <div class="form-group p-3" style="font-size: medium;">
            <label>Phone Number:</label>     <br>
            <input type="phNo" class="form-control">
        </div>

        <button (click) = "onlick()" class="btn btn-primary m-3" type="submit" style="font-size: medium;">Register</button>
    </form>
</div>