<app-header></app-header>

<div class="container mt-3">
    <!-- <p>home-page works!</p> -->
    <form class="form" action="#">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="amount">Amount</label><br>
                    <input type="number" name="amount" required>
                </div>


            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Currency you have</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>INR</option>
                      <option>USD</option>
                      <option>EUR</option>

                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Currency you want</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>USD</option>
                      <option>EUR</option>
                      <option>INR</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <br>
                <input class="btn btn-success"type="button" value="search ">
            </div>
        </div>
    </form>
    <hr>
    <form action="">
    <div class="row">

            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Amount</label>
                    <div class="slidecontainer">
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Sort By</label>
                    <select class="form-control" id="exampleFormControlSelect12">
                      <option>ABC</option>
                      <option>LMN</option>
                      <option>XYZ</option>

                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Sort By</label>
                    <select class="form-control" id="exampleFormControlSelect12">
                      <option>ABC</option>
                      <option>LMN</option>
                      <option>XYZ</option>

                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <br>
                   <input type="submit"class="btn btn-secondary"value="Our Recomendations">
                </div>
            </div>

    </div>

    </form>
    <app-forex-provider-list></app-forex-provider-list>
</div>

<app-footer></app-footer>
