
.navbar {
  background: #ffffff;
}
.bg-nav {
  background: #c4c4dd;
}
.nav-link {
    font-size: 20px;

  }
.container-fluid{
  background: #393184;

}

.nav a{
  color: white !important;
  font-size: 1em !important;
}

.nav-item > a:hover {
  color: white;
}

.navbar-light{
  background: #345bcc;
  color: white;
}
