<nav class="navbar navbar-expand-lg navbar-light">
  <img
    class="navbar-brand navbar-logo d-none d-md-block"
    src="../../assets/forexfxlogo.png"
    alt=""
    height="100px"
    width="250px"
  />
  <img
    class="navbar-brand navbar-logo d-block d-md-none"
    src="../../assets/forexfxlogo.png"
    style="width: 160px; height: 80px"
    alt=""
  />

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-4">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item mr-4">
        <a
          class="nav-link"
          routerLink="/our-prediction-page"
          routerLinkActive="active"
          >Our Prediction <span class="sr-only">(current)</span></a
        >
      </li>

      <li *ngIf="!_auth.isloggedIn()" class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item"
            routerLink="/login-customer"
            routerLinkActive="active"
            >Login as Customer</a
          >
          <a
            class="dropdown-item"
            routerLink="/login-fx"
            routerLinkActive="active"
            >Login as Forex Provider</a
          >
        </div>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/emicalculator"
          routerLinkActive="active"
          >Help & Support <span class="sr-only">(current)</span></a
        >
      </li>

      <li *ngIf="_auth.isloggedIn()" class="nav-item mr-4">
        <a class="nav-link" routerLinkActive="active" (click)= "_auth.logoutCustomer()"
          >Logout <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
